<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="app">
        <section>
            <input type="text" v-model="nombre">
            <select name="" id="">
            <option v-for="n in elementos">{{ n.llave}}</option> 
            </select>

            <button @click="agregar()">agregar</button>
        </section>
    </div>
    <script>
        const { createApp}= Vue
        createApp({
        data(){
            return {
            nombre:"Domiciano",
            elementos:[{llave:"uno"},{llave:"dos"}]
            }
        },
        methods :{
            sumar(){
                this.c = this.c + this.a + this.b
                },
            agregar(){
                return this.elementos.push({llave:this.nombre})
                }
            }
        }).mount('#app')
            </script>
    
</body>
</html>