<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <div id="app">
        <section>
            <input type="text" :value="nombre">
            <input type="text" :value="aPaterno">

            <input type="number" v-model="a">
            <input type="number" v-model="b">
            <h1>{{ c }}</h1>

            <button @click="sumar()">sumar</button>
        </section>
    </div>
    <script>
        const { createApp}= Vue
        createApp({
        data(){
            return {
            nombre:"Domiciano",
            aPaterno:"Ignacio",
            a:0,
            b:0,
            c:0
            }
        },
        methods :{
            sumar(){
            this.c = this.c + this.a + this.b
                }
            }
        }).mount('#app')
            </script>
    
</body>
</html>